table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    margin-left: 20%;
    width: 50%;
    height: 720px;
}
.white{
    background-color: white;
}
.black{
    background-color: black;
}
.orange{
    background-color: orange;
    border-color: orange;
    font-size: x-large;
}
body{
    background-color: orange;
}