
.container {
    float: left;
    width: 100%;
}

.element {
    float: left;
    width: 25%;
}

#output {
    position: absolute;
    top: 120px;
    left: 20px;
    color: blue;
}

.submit {
    background-color: deepskyblue;
    border-color: blue;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 0.5em;
}