
form {
    position: absolute;
    left: 550px;
    top: 220px;
    background-color: white;
    border: 5px black solid;
    width: 350px;
    height: 300px;

    padding: 1%;

}

input, .row {
    height: 50px;
    width: 330px;

}

input {
    margin-left: 1%;

}


.num {
    height: 60px;
    width: 60px;
    margin-left: 5.5%;
    margin-top: 5%;
    background-color: white;
    color: blue;

}

.value {
    color: blue;
}





