.numbers {
    background-color: cornflowerblue;
    float: left;
}

.numbers .number {
    float: left;
    color: blue;
    width: 60px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    border-radius: 20%;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px;
}
h2{
    color: blue;
}

